@font-face {
    font-family: "Alegreya Sans SC";
    src: url(/assets/fonts/AlegreyaSansSC-Regular.ttf);
}
.header {
    display: grid;
    width: 100%;
    height: 15vh;
    background-color: #759399;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
}
.title {
    font-weight: 100;
}
.main {
    display: grid;
    width: 100%;
    height: 65vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
}
.div {
    display: grid;
    grid-row: 1/3;
    grid-column: 1/3;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #E6B2B3;
}
.title-main {
    grid-row: 1/2;
    grid-column: 1/3;
    font-weight: 100;
}
.section-main-1 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #D48F91;
}
.section-main-2 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #D48F91;
}
.section-main-3 {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: #D48F91;
}
.aside {
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: #95C193;
}
.footer {
    display: grid;
    height: 15vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    background-color: #759399;
}
.section-footer {
    background-color: #95C193;
}